<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

    <% @posts.each do |post| %>
      <p><%= post.content %></p>
      <% if user_signed_in? && ( post.user_id == current_user.id ) %>
        <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
      - Stars: <%= post.stars %>
    <%= link_to "Add Star", "posts/#{post.id}/add_star", method: :post %>
      <br />
    <% end %>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
